<ng-container *ngIf="check">
  <mat-grid-list
    cols="4"
    rowHeight="510px"
  >
    <mat-grid-tile *ngFor="let post of posts;">
      <mat-card
        class="example-card"
        style="width: 400px;"
      >
        <mat-card-header>
          <div
            mat-card-avatar
          ></div>
          <mat-card-title>{{post.author}}</mat-card-title>
          <mat-card-subtitle>Author here</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          style="width: 350px; height: 350px; align-self: center;"
          [src]="post.url"
        >
        <mat-card-content>
          <p>
            Description here
          </p>
        </mat-card-content>
        <mat-card-actions>
          <span>Information here</span>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
